<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin_client.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_client.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @admin_client.mobile %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @admin_client.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @admin_client.rg %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin_client.address %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @admin_client.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @admin_client.address_state %>
</p>

<p>
  <strong>Address neighborhood:</strong>
  <%= @admin_client.address_neighborhood %>
</p>

<p>
  <strong>Address zipcode:</strong>
  <%= @admin_client.address_zipcode %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @admin_client.newsletter %>
</p>

<p>
  <strong>Agree:</strong>
  <%= @admin_client.agree %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_client.city %>
</p>

<p>
  <strong>Company:</strong>
  <%= @admin_client.company %>
</p>

<p>
  <strong>Site term:</strong>
  <%= @admin_client.site_term %>
</p>

<%= link_to 'Edit', edit_admin_client_path(@admin_client) %> |
<%= link_to 'Back', admin_clients_path %>
