<%= form_for(@banner) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> impediram que as informações fossem salvas:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <img src="<%= @banner.image.url %>" width="600" height="115" />
  </div>
  <div class="col-sm-12">
    <div class="required form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :start_at %><br>
      <%= f.datetime_select :start_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :end_at %><br>
      <%= f.datetime_select :end_at, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :views %><br>
      <%= f.number_field :views, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="required form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>
</div>
<%= f.submit class: 'btn btn-default' %>
<% end %>
