<ul class="nav navbar-nav">
  <li>
    <div id="login-at-top">
    <%= form_for :client, url: client_session_path, html: {class: 'form-inline'} do |f| %>
      <div class="form-group">
        <%= f.text_field :email, type: :text, class: 'form-control', placeholder: 'Entre com seu email' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Entre com sua senha' %>
      </div>
      <div class="form-group">
        <button class='btn btn-default btn-sm' type="submit">
          Acessar conta
        </button>
      </div>
      <div class="form-group">
        <a href="<%= new_client_registration_path %>">ou cadastre-se</a>
      </div>
    <% end -%>
    </div>
  </li>
</ul>
