<h1>Lista de Ofertas Ativas</h1>

<%= link_to 'Nova Oferta', new_product_ad_path, class: 'btn btn-default' %>
<br />
<br />

<%= render partial: "product_ads_list", locals: {product_ads: @active_product_ads} %>
<br>

<h1>Ofertas Encerradas ou Inativas</h1>
<%= render partial: "product_ads_list", locals: {product_ads: @expired_product_ads} %>
<br>

<%= link_to 'Nova Oferta', new_product_ad_path, class: 'btn btn-default' %>
