<h1>Lista de Regras Gerais</h1>
<%= link_to 'Nova Regra Geral', new_site_term_path, class: 'btn btn-default' %>
<br><br>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Regras</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_terms.each do |site_term| %>
      <tr>
        <td><%= truncate(strip_tags(site_term.terms)) %></td>
        <td class="text-right">
          <div class="btn-group btn-group-xs" data-no-turbolink>
            <%= link_to 'Editar', edit_site_term_path(site_term), class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Regra Geral', new_site_term_path, class: 'btn btn-default' %>
