<h2>Pedido: <u>#<%= @product_ad_order.order.id %></u></h2>
<p>
  Data: <u><%=l @product_ad_order.order.created_at %></u><br />
</p>

<h3>Anunciante</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <td class="active col-md-3">Anunciante</td>
        <td class="notice"><strong><%= @product_ad_order.product_ad.company.name %></strong></td>
      </tr>
      <tr>
        <td class="active col-md-3">Endereço</td>
        <td class="notice"><strong><%= @product_ad_order.product_ad.company.address %></strong></td>
      </tr>
      <% unless @product_ad_order.product_ad.company.site.blank? %>
      <tr>
        <td class="active col-md-3">Site</td>
        <td class="notice"><strong><%= @product_ad_order.product_ad.company.site %></strong></td>
      </tr>
      <% end -%>
      <tr>
        <td class="active col-md-3">Responsável</td>
        <td class="notice"><strong><%= @product_ad_order.product_ad.company.contact_name %></strong></td>
      </tr>
      <tr>
        <td class="active col-md-3">Telefone(s)</td>
        <td class="notice"><strong><%= [ @product_ad_order.product_ad.company.contact_phone, @product_ad_order.product_ad.company.contact_mobile].compact.to_sentence %></strong></td>
      </tr>
    </table>
  </div>
</div>

<div class="well">
  <h3>Oferta: <u><%=@product_ad_order.product_ad.title %></u></h3>
  <h3>Cupom: <u><%=@product_ad_order.coupon %></u></h3>
  <p>
    URL da oferta: <strong><a href="<%=ofertas_detalhes_url(@product_ad_order.product_ad) %>"><%=ofertas_detalhes_url(@product_ad_order.product_ad) %></a></strong><br />
    Prazo de compra: <strong><%=l @product_ad_order.start_at %></strong> a <strong><%=l @product_ad_order.end_at %></strong><br />
    Tempo para utilização: <strong><%=l @product_ad_order.start_use_at %></strong> a <strong><%=l @product_ad_order.end_use_at %></strong><br />
    Final da promoção: <strong><%=l @product_ad_order.end_at %></strong><br />
  </p>
  <p>Descrição<br />
  <blockquote class="blockquote-reverse"><%= simple_format @product_ad_order.product_ad.description %></blockquote>
  </p>
  <p>Regulamento<br />
  <blockquote class="blockquote-reverse"><%= simple_format @product_ad_order.terms %></blockquote>
  </p>
</div>
<p>
  <strong><em>Importante: as informações acima são referentes ao momento da compra.
  Caso haja alguma mudança de regulamento, esta NÃO afetará seu pedido.
  A empresa Rota Empresarial acredita que seus clientes devem ter direito ao que compraram e as normas que lhes foram entregues.</em></strong>
</p>


<p>
  --
  <br />
  Agradecemos a preferência,<br /><br />
  em qualquer dúvida não deixe de entrar em contato conosco.
</p>
