<div class="breadcrumb">
  <div class="breadcrumb_inset">
    <a class="breadcrumb-home" href="/" title="Retornar a página inicial"><i class="icon-home"></i></a>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/minha-conta">Minha conta</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page"><a href="/usuarios-entrar">Entrar</a></span>
    <span class="navigation-pipe">»</span> 
    <span class="navigation_page">Alteração de Senha</span>
  </div>
</div>

<h1><span>Nova Senha</span></h1>

<div class="row">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'std col-xs-12 col-sm-12' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <fieldset class="titled_box">
    <h2><span>Preencha os campos abaixo com sua nova senha e clique em alterar</span></h2>
    <div class="form_content clearfix">
      <div class="form-group">
        <%= f.label :password, "Nova senha" %>
        <%= f.text_field :password, autofocus: true, autocomplete: "off", type: :password, class: "account_input form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Nova senha" %>
        <%= f.text_field :password_confirmation, autofocus: true, autocomplete: "off", type: :password, class: "account_input form-control" %>
      </div>
      <p class="submit">
        <input type="submit" class="button btn btn-default" value="Alterar minha senha" />
      </p>
    </div>
  </fieldset>
<% end %>
</div>
